<%= show_errors(@status) %>
<%= form_for(@status) do |f| %>
  <div class="actions">
    <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
    </div>
    <%= f.submit %>
  </div>
<% end %>
